body {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
  height: 100vh;

  background-color: #fafafa;
  margin: 0;
}

.container {
  display: flex;
  align-items: center;

  width: 100%;
  height: 100%;
}

.quote-container {
  display: flex;
  justify-content: center;

  flex: 4;
}

.quote-mask {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 1em;

  background-color: #ffffff;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;

  width: 400px;
  height: 400px;

  transition: all 0.25s ease-in-out;
}

.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 100%;
  padding: 0 20%;

  min-width: 100px;

  font-family: "Times New Roman", serif;

  transition:
    background-color 0.25s ease-out,
    foreground-color 0.5s ease-in-out,
    padding 0.25s ease-out,
    width 0.25s ease-out;
}

.text {
  font-size: 1.35em;
  outline: none;
  margin-bottom: 0.5em;
}

.author {
  font-size: 1em;
  outline: none;
}

.editor-container {
  display: flex;
  flex: 1;

  height: calc(100% - 2em);
  min-width: 250px;

  margin: 0 1em;
  padding: 1em 2em;

  background-color: #ffffff;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5em;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.editor {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.editor-section {
  padding: 0.75em 0;
}

.theme-container {
  display: flex;
  flex-wrap: wrap;
}

.theme {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75em;

  width: 24px;
  height: 24px;

  background-color: rgba(0, 0, 0, 0.1);

  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 16px;

  margin: 0.75em 0.75em 0em 0em;

  transition:
    box-shadow 0.1s ease,
    transform 0.1s ease;
}

.theme:before {
  content: "Q";
}

.theme:hover {
  transform: translateY(-1px);
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.font-container,
.theme-container,
.padding-container,
.size-container {
  display: flex;
  flex-wrap: wrap;
}

.padding,
.size,
.font {
  padding: 0.5em 0.75em;
  margin: 0.75em 0.75em 0em 0em;

  font-size: 0.75em;
  text-align: center;

  border: 1px solid rgba(0, 0, 0, 0);
  border-spacing: 1px;
  border-radius: 0.5em;
  color: rgba(0, 0, 0, 0.5);

  transition: background-color 0.1s ease-in-out;
}

.padding:hover,
.size:hover,
.font:hover,
.active {
  color: rgba(0, 0, 0, 1);
}

.padding:active,
.size:active,
.font:active,
.theme:active {
  outline-offset: 1.5px;
}

.active {
  outline-offset: 1.5px;

  background-color: rgba(0, 0, 0, 0.1);
}

label {
  font-size: 0.8em;
  color: #635852;
  display: block;
}

#export {
  cursor: pointer;
  font-family: monospace;
  font-size: 1.15em;

  margin-top: 1em;
  padding: 15px 20px;
  width: 100%;

  color: #ffffff;
  background-color: rgba(0, 0, 0, 1);

  border: none;
  border-radius: 8px;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition:
    box-shadow 0.1s ease,
    transform 0.1s ease-in-out;
}

#export:hover {
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.1);
  transform: translateY(2px);
}

a:hover {
  cursor: default;
}

.spacer {
  flex-grow: 1;
  height: 10px;
  flex: 1;
}

kbd {
  display: inline-block;
  padding: 3px 5px;
  font:
    11px ui-monospace,
    SFMono-Regular,
    SF Mono,
    Menlo,
    Consolas,
    Liberation Mono,
    monospace;
  line-height: 10px;
  color: #1f2329;
  vertical-align: middle;
  background-color: #f6f8fa;
  border: solid 1px #e7ebee;
  border-bottom-color: #e7ebee;
  border-radius: 6px;
  box-shadow: inset 0 -1px 0 #e7ebee;

  margin-left: 5px;
}

.feedback:hover,
.feedback {
  font-size: 0.8em;
  cursor: pointer;
  text-decoration: none;
  color: #7f7f7f;
  transition: color 0.25s ease-in;
}

.feedback:hover {
  color: #000000;
}
